spring.datasource.url=${DB_URL:jdbc:mysql://localhost:3306/password_generator_db}
spring.datasource.username=${DB_USER:root}
spring.datasource.password=${DB_PASSWORD:}
spring.jpa.hibernate.ddl-auto=update
spring.thymeleaf.cache=false